
.training__card
    .training__card__info
        h2.training__card__info__title Тренинг с длинным названием в 3 текстовой строчки
        .training__card__info__subtitles
            p.training__card__info__subtitles__subtitle Для кого: руководители компаний, маркетологи, продавцы
            p.training__card__info__subtitles__subtitle Цели бизнес-тренинга:
        a(href="detail.html").training__card__info__btn Подробнее
            span.training__card__info__btn__span
                +image("arrow2","training__card__info__btn__span__img")
    .training__card__definition
        ul.training__card__definition__list
            +wihtoutlink("servicelogo","training__card__definition__list__item","Определение маркетинга как технологии роста")
            +wihtoutlink("servicelogo","training__card__definition__list__item","Организация маркетинга как сквозного бизнес-процесса")
            +wihtoutlink("servicelogo","training__card__definition__list__item","Получение практических навыков применения технологии маркетинга")
            +wihtoutlink("servicelogo","training__card__definition__list__item","Получение практических навыков применения технологии маркетинга")