section#validation
    .container
        .validation
            .validation__card
                form.validation__card__form
                    input.validation__card__form__name(placeholder='Ваше имя')
                    input.validation__card__form__email(placeholder='Email')
                    button.validation__card__form__btn Получить консультацию