section#business
    .container
        .business
                h2.business__title Программа бизнес-тренинга
                .business__program
                    .business__program__function
                        h4.business__program__function__title Функция маркетинга как бизнес-технологии
                        ul.business__program__function__list
                            +wihtoutlink("circle1","business__program__function__list__item","Рынок как динамическая система взаимодействия потребительской и конкурентной сред")
                            +wihtoutlink("circle1","business__program__function__list__item","Поиск точек роста в непрерывно меняющейся рыночной среде")
                            +wihtoutlink("circle1","business__program__function__list__item","Прибыль компании как производная от управления маркетингом")
                            +wihtoutlink("circle1","business__program__function__list__item","Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей")
                    .business__program__function
                        h4.business__program__function__title Практический инструментарий
                        ul.business__program__function__list
                            +wihtoutlink("circle1","business__program__function__list__item","Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.")
                            +wihtoutlink("circle1","business__program__function__list__item","Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. ")
                            +wihtoutlink("circle1","business__program__function__list__item","Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.")
                            +wihtoutlink("circle1","business__program__function__list__item","Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения")
                            +wihtoutlink("circle1","business__program__function__list__item","Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.")
                    .business__program__function
                        h4.business__program__function__title Организация маркетинга в компании
                        ul.business__program__function__list
                            +wihtoutlink("circle1","business__program__function__list__item","Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности")
                            +wihtoutlink("circle1","business__program__function__list__item","Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. ")
                            +wihtoutlink("circle1","business__program__function__list__item","Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля.")
                    .business__program__function
                        h4.business__program__function__title Кейсы-примеры:
                        ul.business__program__function__list
                            +wihtoutlink("circle1","business__program__function__list__item","«Догнать и перегнать лидера рынка»")
                            +wihtoutlink("circle1","business__program__function__list__item","«Увеличить прибыль на падающем рынке»")
                            +wihtoutlink("circle1","business__program__function__list__item","«Comeback бывшего лидера»")
                            +wihtoutlink("circle1","business__program__function__list__item","«Повышаем маржинальность, не выходя из кабинета»")
