section#case
    .container
        .case
            .case__program
                .case__program__function
                    h4.case__program__function__title Кейсы-примеры:
                    ul.case__program__function__list
                        li.case__program__function__list__item
                            p.case__program__function__list__item__subtitle С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению.
                .case__program__function
                    h4.case__program__function__title Бонусы
                    ul.case__program__function__list
                        li.case__program__function__list__item
                            p.case__program__function__list__item__subtitle 5 часов бесплатных консультаций в течение месяца после проведения тренинга.
                                br
                                | Набор шаблонов для анализа ключевых показателей.
                .case__program__function
                    h4.case__program__function__title Преимущества бизнес-тренинга:
                    ul.case__program__function__list
                        +wihtoutlink("circle1","case__program__function__list__item","Составлен на основе опыта решения конкретных задач")
                        +wihtoutlink("circle1","case__program__function__list__item","Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий")
                        +wihtoutlink("circle1","case__program__function__list__item","Акцент на реальных примерах с разбором ошибок")
                        +wihtoutlink("circle1","case__program__function__list__item","Направлен на практическую реализацию, начиная с завтрашнего дня")
                .case__program__function
                    h4.case__program__function__title Форматы проведения:
                    ul.case__program__function__list
                        +wihtoutlink("circle1","case__program__function__list__item","Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день")
                        +wihtoutlink("circle1","case__program__function__list__item","Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день")
                        +wihtoutlink("circle1","case__program__function__list__item","групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день")
