block variables
    - var current = "header__nav__list__items__consult"
    - var title = 'Webpack + Pug';
    - var description = 'Description for Webpack + Pug';

    include ../libs/consultHelpers/_cosult-hero
    include ../libs/consultHelpers/_consult-services
    include ../libs/consultHelpers/_consult-Items
    include ../libs/_regsitration
