include ../../utils/_mixins
include ../../utils/_text

section#consult-services
    .container
        .consult-services
            .row.consult__services__row
                .col-2.consult--services__col-1
                    .consult-services__card.column-1
                        +image("consultLOGO", "consult-services__card__image")
                        +text("consult-services__card__title","Как найти точки роста и  определить цели?")
                    .consult-services__card.column-1
                        +image("consultLOGO", "consult-services__card__image")
                        +text("consult-services__card__title","Как избежать проблем на старте нового бизнеса?")
                .col-2.consult--services__col-2
                    .consult-services__card.column-2
                        +image("consultLOGO", "consult-services__card__image")
                        +text("consult-services__card__title","Как увеличить прибыль, управляя ценами?")
                    .consult-services__card.column-2
                        +image("consultLOGO", "consult-services__card__image")
                        +text("consult-services__card__title","Как не попасть в \"черную дыру\" затрат на продвижение?")
            .consult-services__blog
                h1.consult-services__blog__title Услуги