include ../../utils/_mixins

section#consult
    .container
        .consult--hero
            .row.consult__hero__row
                .col_2.consult--hero__col-1
                    h1.consult--hero__main Создаем решения
                    h2.consult--hero__title Для роста бизнеса
                    p.consult--hero__subtitle На основе анализа данных с алгоритмами реализации
                    button.consult--hero__btn Обсудить проблему
                    .consult--hero__arrows
                        +image("arrow1", "consult--hero__arrows__item")
                        +image("arrow1", "consult--hero__arrows__item")
                .col-2.consult--hero__col-2
                    +image("cube","consult--hero__img")
